h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
}
p{
    font-size: 35px;
    padding: 30px;
}
button{
    padding: 30px 70px;
    background-color: blue;
    color: white;
    
}
button:hover{
    background-color: green;
}